<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td></td>
      <td>
        <%= @book.book_name %>
      </td>
      <td><%= @book.body%></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>