<h1>welcome to <strong>Bookers</strong> !!</h1>
<p>In <strong>Bookers</strong>,</p>
<p>about various books!</p>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "新規登録", new_user_registration_path%>
